.Container{
  display: flex;
  flex-direction: row;
}

.profileContainer {
    width: 40%;
    height: 100%;
    margin: auto;
    padding: 10px;
    background-color: var(--app-bg);
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
    margin-top: 14vh;
    margin-bottom: 4vh;
  }
  
  .profileTitle {
    text-align: center;
    font-size: 1.8rem;
    color: var(--text-color-three);
  }
  
  .message {
    text-align: center;
    color: green;
    margin-bottom: 10px;
  }
  
  .profileForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .label {
    font-weight: bold;
    color: var(--text-color-two);
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    color: var(--text-color-one);
    background-color: var(--body-bg);
  }
  
  .submitButton {
    width: 100%;
    padding: 10px;
    background-color: var(--btn-color);
    color: inherit;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background-color: var(--body-bg);
  }

  /* Responsive Design */
  @media (max-width: 600px) {
    .Container{
      flex-direction: column;
      padding: 10px;
    }
    .profileContainer {
      width: 90%;
      padding: 15px;
      flex-direction: column;
    }
  
    .input {
      padding: 8px;
    }
  
    .submitButton {
      padding: 8px;
    }
  }
  