* {
  font-family: "Space Grotesk", serif;
}
.FormContainer {
  display: flex;
  flex-direction: column; /* Stack elements vertically by default */
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 2vh; /* Add padding for spacing on smaller screens */
  box-sizing: border-box;
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; /* Take full width for smaller screens */
  background-color: var(--app-bg);
  padding: 1vh;
  border-radius: var(--border-radius);
}

.Container textarea {
  outline: none;
  width: 400px;
  height: 130px;
  resize: none;
  background-color: var(--body-bg);
  border: none;
  border-radius: var(--border-radius);
  text-align: center;
  justify-content: center;
  font-size: large;
  color: inherit;
  margin-top: 2vh;
}

.ContactInfo,
.ContactForm {
  width: 100%; /* Full width on smaller screens */
  height: auto; /* Adjust to content */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh; /* Space between sections */
  padding: 1em; /* Add padding inside sections */
  box-sizing: border-box;
  text-align: center;
}
.ContactForm span {
  color: inherit;
  font-size: medium;
}
.ContactForm input {
  width: 90%; /* Responsive input fields */
  padding: 0.5em;
  margin: 0.5em 0;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  background-color: var(--body-bg);
  border: none;
  border-radius: var(--border-radius);
  text-align: center;
  justify-content: center;
  font-size: large;
  color: inherit;
}

.ContactForm button {
  background-color: var(--body-bg);
  border: none;
  border-radius: var(--border-radius);
  color: inherit;
  font-size: large;
  padding: 10px;
  margin-top: 3vh;
  width: 160px;
}

.ContactForm button:hover {
  transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 217px 0px rgba(50, 85, 153, 1);
  -moz-box-shadow: 0px 0px 217px 0px rgba(50, 85, 153, 1);
  box-shadow: 0px 0px 217px 0px rgba(50, 85, 153, 1);
  cursor: pointer;
  transition: ease 1s;
}

.google-maps{
  
}

/* Media query for larger screens */
@media (min-width: 920px) {
  .FormContainer {
    flex-direction: row; /* Side-by-side layout for larger screens */
    height: 100vh;
  }

  .Container {
    width: 500px; /* Split width equally */
    border-radius: 8px;
    padding: 30px;
    background-color: var(--app-bg);
  }

  .ContactInfo,
  .ContactForm {
    width: 50%; /* Equal width for both sections */
    height: 100%; /* Stretch to fill height */
    margin-bottom: 0;
  }

  .ContactForm input {
    width: 80%; /* Wider input fields on larger screens */
  }
}
