.container{
  display: flex;
  flex-direction: row;
  height: 30vh;
  width: 100%;
  border: 1px solid rebeccapurple;
}

.middle {
  display: flex;
  flex-direction: column;
  height: 30vh;
  width: 33.3333%;
  border: 1px solid rebeccapurple;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.menu a:hover {
  color: var(--text-color-one);
}

.left{
width: 33%;
}

.right{
  width: 33%;
}

.name{
  align-self: flex-start;
  margin: 2vw;
}