/*LOGO MAIN TEXT*/

/*
.crimson-text-regular {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}

.crimson-text-semibold {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: normal;
}

.crimson-text-bold {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: normal;
}
*/
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

/*Leirasok*/
/*
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
*/
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Space+Grotesk:wght@300..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Bebas+Neue&family=Dosis:wght@200..800&family=Geist+Mono:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--text-color-one);
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 99.96%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 300vh;
  background-color: var(--body-bg);
  color: var(--text-color-two);
  font-family: "Space Grotesk", serif;
}

#root {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  width: 100%; /* Prevent content from overflowing */
  background-color: var(--body-bg);
  color: var(--text-color-two);

  --border-radius: 8px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: "Dosis", serif;
}


/* Light Mode Variables */
.light {
  --body-bg: #ece8f5; /* Background color */
  --app-bg: #beb9c9; /* Application container background */
  --text-color-one: #3d52a0; /* Primary text color (darker blue) */
  --text-color-two: #7091e6; /* Secondary text color (bright blue) */
  --text-color-three: #8697c4; /* Subtle or tertiary text color */
  --theme-toggle-hover-color: #3d52a0; /* Hover effect for toggle */
  --box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567); /* Keep existing shadow */
}

/* Dark Mode Variables */
.dark {
  --body-bg: #1c1f2e; /* Darker background for body */
  --app-bg: #242838; /* Slightly lighter dark tone for containers */
  --text-color-one: #adbbd4; /* Soft blue for primary text */
  --text-color-two: #8697c4; /* Muted blue for secondary text */
  --text-color-three: #7091e6; /* Bright blue for links or highlights */
  --theme-toggle-hover-color: #ede8f5; /* Light hover effect for toggle */
  --box-shadow: none; /* No shadow in dark mode for simplicity */

}

