body {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 200vh;
  background-color: var(--body-bg);
  color: var(--text-color-two);
}

.navbar {
  position: fixed;
  height: 8vh;
  border: 1px solid rebeccapurple;
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
  gap: 2vw;

  a {
    padding: 10px;
    text-decoration: none;
    color: inherit;
  }

  .logo-container {
    border: 1px solid rebeccapurple;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center; /* Ensures content inside the logo container is centered */
    margin: 0;
  }

  .menu-main {
    display: flex;
    gap: 1vw;
  }
}
